.o_gallery_app {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 100%;
    
    .o_gallery_sidebar {
        width: 280px;
        min-width: 280px;
        max-width: 280px;
        z-index: 2;
        overflow-y: auto;
        height: 100%;
    }
    
    .o_gallery_main {
        height: 100%;
        overflow: hidden;
    }

    .o_gallery_card {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        border: 1px solid rgba(0,0,0,0.08) !important;
        background: #fff;
        overflow: hidden;

        &:hover {
            transform: translateY(-4px);
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
            
            .transition-zoom {
                transform: scale(1.05);
            }
            
            .o_card_overlay {
                opacity: 1; // Mostrar overlay al hover
                background-color: rgba(0,0,0,0.02);
            }
        }

        &.selected {
            border: 2px solid #0d6efd !important; // Borde azul si seleccionado
            
            .o_card_overlay {
                opacity: 1;
                background-color: rgba(13, 110, 253, 0.2); // Fondo azulado
            }
        }

        .card-img-top {
            background-color: #f3f4f6;
        }

        .transition-zoom {
            transition: transform 0.3s ease;
        }

        .o_card_overlay {
            opacity: 0;
            transition: opacity 0.2s, background-color 0.2s;
            z-index: 10;
            
            // Checkbox styling
            .form-check-input {
                cursor: pointer;
                width: 1.5em;
                height: 1.5em;
            }
        }
    }

    .scale-150 {
        transform: scale(1.5);
    }
}